<div style="padding-left: 20px;padding-right: 20px">
    <table class="ui large padded inverted teal table segment">
        <thead>
        <tr>
            <th>Name</th>
            <th>Role</th>
            <th>Sun-sign</th>
            <th>Birth-Date</th>
            <th>Work</th>
            <th>Activities</th>
            <th>Notes</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="User in read.Users">
            <td>{{User.name}}</td>
            <td>{{User.role}}</td>
            <td>{{User.raas}}</td>
            <td>{{User.bd}}</td>
            <td>{{User.work}}</td>
            <td>{{User.activities}}</td>
            <td>{{User.notes}}</td>
        </tr>
        </tbody>
    </table>
</div>